alembic==1.7.7
aniso8601==9.0.1
anyio==3.5.0

api==0.0.7
apispec==3.3.2
apispec-webframeworks==0.5.2
argcomplete==2.0.0
asgiref==3.5.0
asttokens==2.0.5
attrs==20.3.0
autopep8==1.6.0
Babel==2.10.1
backcall==0.2.0
bcrypt==3.2.0
blinker==1.4
cachelib==0.6.0
cattrs==1.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==7.1.2
clickclick==20.10.2
colorama==0.4.4
colorlog==6.6.0
commonmark==0.9.1

cors==1.0.1
croniter==1.3.4
cryptography==36.0.2
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.4
Django==4.0.4
dnspython==2.2.1
docutils==0.16
dominate==2.7.0
email-validator==1.1.3
entrypoints==0.4
executing==0.8.3
fastapi==0.75.2
fields==5.0.0
filelock==3.6.0
Flask==2.0
Flask-API==3.0.post1
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
flask-ldap3-login==0.9.17
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
flask-restful-swagger==0.20.2
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
flask-swagger-ui==3.36.0
Flask-WTF==0.14.3
future==0.18.2
galois==0.0.27
gevent==21.12.0
graphviz==0.20
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
image==1.5.33
inflection==0.5.1
ipykernel==6.12.1
ipython==8.2.0
iso8601==1.0.2
itsdangerous==2.0
jedi==0.18.1
Jinja2==3.0
jsonschema==3.2.0
jupyter-client==7.2.2
jupyter-core==4.9.2
lazy-object-proxy==1.7.1
ldap3==2.9.1
llvmlite==0.38.0
lockfile==0.12.2
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.3
modules==1.0.0
MongoAlchemy==0.19
mpmath==1.2.1
mysql-connector-python==8.0.28
mysqlclient==2.1.0
nest-asyncio==1.5.5
nltk==3.2.4
nose==1.3.7
numba==0.55.1
numpy==1.21.6
packaging==21.3
parso==0.8.3
passlib==1.7.4
pendulum==2.1.2
pickleshare==0.7.5
Pillow==9.1.0
pipenv==2022.4.8
platformdirs==2.5.2
preprocessing==0.1.13
prison==0.2.1
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pycryptodome-test-vectors==1.0.7
pycryptodomex==3.14.1
pydantic==1.9.0
pydf==12
Pygments==2.11.2
PyJWT==1.7.1
pymongo==4.1.1
pyparsing==3.0.7
pyperclip==1.8.2
pyrsistent==0.18.1
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2022.1
pytzdata==2020.1

PyYAML==6.0
pyzmq==22.3.0
qrcode==7.3.1
requests==2.27.1
requests-file==1.5.1
rfc3986==1.5.0
rich==12.2.0
secretsharing==0.2.6
setproctitle==1.2.3
six==1.16.0
sniffio==1.2.0
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.17.1
str==0.1
swagger-ui-bundle==0.0.9
sympy==1.10.1
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
tldextract==3.2.1
toml==0.10.2
tornado==6.1
traitlets==5.1.1
typing_extensions==4.2.0
tzdata==2022.1
unicodecsv==0.14.1
urllib3==1.26.9
utils==1.0.1
uvicorn==0.17.6
validate-email==1.3
virtualenv==20.14.1
virtualenv-clone==0.5.7
visitor==0.1.3
wcwidth==0.2.5
Werkzeug==2.0
wrapt==1.14.0
WTForms==2.3.3
zope.event==4.5.0
zope.interface==5.4.0
